/**************************************
 * FONTS
 *************************************/
 $font-family-sans-serif: 'ubunturegular', sans-serif;
$subheadings-font-family: 'vigaregular', sans-serif;
$headings-font-family: 'Verdana', sans-serif;
$figuretexte: 'Times New Roman', serif;

$headings-font-family-font-size: 4.34375rem;
/**************************************
 * COLORS
 *************************************/
$primary:#4b4a4e;
$primaryBold: #3c3b3f;
$secondary:#0069bf;
$secondaryBold: #004985;
$secondarypale:#0082C6;
$success:#0f7237;
$danger:#ca2127;
$info:#faa22a;
$warning:#ea7324;
$light:#FDFBF7;
$dark:#555555;

$color1:#FFFFFF;
$color2:#FFFFFF;
$color3:#FFFFFF;
$color4:#FFFFFF;
$color5:#384f5c;

$theme_color1:#F8CF00;
$theme_color2:#FAA22A;
$theme_color3:#d02027;
$theme_color4:#404245;

$header-hight: 300px;

