/**************************************
 * FONTS
 *************************************/
 $font-family-sans-serif: 'Ubuntu', sans-serif;
 $font-family-text: 'Ubuntu', sans-serif;
 $font-family-text-size: .9rem;
 $headings-font-family: 'Verdana', cursive;
 $subheadings-font-family: 'Viga', sans-serif;
 $figuretexte: 'Times New Roman', serif;
$headings-font-family-font-size: 4.34375rem;

 
 /**************************************
  * COLORS
  *************************************/
$primary:#4b4a4e;
$primaryBold: #3c3b3f;
$primarypale:#bfdaef;
$secondary:#0069bf;
$secondaryBold: #004985;
$secondarypale:#0082C6;
$success:#0f7237;
$danger:#ca2127;
$info:#faa22a;
$warning:#ea7324;
$successpale:#EDF4CC;
$successcomplement:$primary;
$dangerpale:#F7D9D7;
$dangercomplement:$secondary;
$infopale:#FCF7EC;
$infocomplement:$success;
$primarycomplement:$danger;
$warningpale:#FAEEE8;
$secondarycomplement:$warning;
$warningcomplement:$info;
$light:#FDFBF7;
$dark:#555555;


$color1:#FFFFFF;
$color2:#FFFFFF;
$color3:#FFFFFF;
$color4:#FFFFFF;
$color5:#384f5c;

$theme_color1:#F8CF00;
$theme_color2:#FAA22A;
$theme_color3:#d02027;
$theme_color4:#404245;
$theme_color5:#494755;

$white:#FFFFFF;
$black:#000;

/**************************************
* GENERAL
*************************************/

$headings-font-family: $headings-font-family !default;
$subheadings-font-family: $headings-font-family !default;

// 6. Collapsible
// ==========================================================================

$collapsible-height: 3rem !default;
$collapsible-line-height: $collapsible-height !default;
$collapsible-header-color: #fff !default;
$collapsible-border-color: #ddd !default;

// 12. Grid
// ==========================================================================

$num-cols: 12 !default;
$gutter-width: 1.5rem !default;
$element-top-margin: $gutter-width/3 !default;
$element-bottom-margin: ($gutter-width*2)/3 !default;
 
// 14. Side Navigation
// ==========================================================================

$sidenav-width: 300px !default;
$sidenav-font-size: 14px !default;
$sidenav-font-color: rgba(0,0,0,.87) !default;
$sidenav-bg-color: #fff !default;
$sidenav-padding: 16px !default;
$sidenav-item-height: 48px !default;
$sidenav-line-height: $sidenav-item-height !default;
$btn-radius: 30px;
$font-family-text: 'Ubuntu', sans-serif;
$font-family-text-size: .9rem;
$headings-font-size: 2.34375rem;
$top-navbar-height: 67px;
$course-banner-max-height: 150px;
$card-border-radius: 0 !default;
$page-max-width: 1500px;
$nav-color: #343a40;
$body-bg: #eef5f9 !default;
$body-color: #373a3c;

/* Current directory is recit2/scss */
@import "./recit/import";
@import "./deprecated/editorhtml";

.editeur, body.theme-recit-art{
  .page-header-headings h1 {
      color: $black!important;
      text-shadow: unset;
      background-color: unset;
      font-size: 4.34375rem;    
  }
  .navsections.vertical .menuM5 ul.navbar-nav li.nav-item[data-selected="1"] {
      font-weight: unset;
      font-size: unset;
      text-decoration: unset;
  }
}